script(type='text/javascript').
  function getCurrentPosition(callback) {
    navigator.geolocation.getCurrentPosition(function(position) {
      callback(position.coords.latitude, position.coords.longitude);
    });    
  }
